
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');




header {
    display: flex;
    margin-left: 20px;
    gap: 40px;
    align-items: center;
    margin-top: 5px;
    margin-right: 1px;
}
 
nav {
    display: flex;
  margin-top: 20px;
  gap: 40px;
  font-size: 22px;
}

a {
    text-decoration: none;
    color: #333;
    font-family: Poppins;
}

.humble {
    color: #333;
    font-family:Poppins ;
}

.ganja{
    color:#333 ;
    font-family:Poppins ;
}

.home-page {
    margin-left:50px;
    margin-right:40px;
    display: flex;
    align-items:center;
    gap:50px;
    margin-top:30px ;
}

.navbutton {
    background-color:coral;
    font-family:Poppins ;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border:black solid 2px;
    text-decoration-color: #333;
    margin-left: 309px;
    border-radius: 5PX;
}

.navubutton {
    background-color:coral;
    font-family:Poppins ;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border:black solid 2px;
    text-decoration-color: #333;
    border-radius: 5PX;
    margin-left:px;
}

button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.title-of-testimonial {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px; 
    font-size: 35px;
    font-family:Poppins;
    text-decoration-color:#333;
}

.profile {
    display: flex;
    gap: 50px;
  }
  
  .profile-1,
  .profile-2,
  .profile-3 {
    display: grid;
    justify-items: center;
  }
  





