
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');







header {
    display: flex;
    margin-left: 20px;
    gap: 40px;
    align-items: center;
    margin-top: 5px;
    margin-right: 50px;
}
 
nav {
    display: flex;
  margin-top: 20px;
  gap: 40px;
  font-size: 22px;
}

a {
    text-decoration: none;
    color: #333;
    font-family: Poppins;
}